<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyn.tienchin.activity.mapper.ActivityMapper">
    <update id="updateActivity">
        UPDATE tienchin_activity
        <trim prefix="set" suffixOverrides=",">
            <if test="activity.activityName != null">activity_name = #{activity.activityName},</if>
            <if test="activity.channelId != null">channel_id = #{activity.channelId},</if>
            <if test="activity.info != null">info = #{activity.info},</if>
            <if test="activity.type != null">type = #{activity.type},</if>
            <if test="activity.type == 1 and activity.discount != null">discount = #{activity.discount},voucher =
                null,
            </if>
            <if test="activity.type == 2 and activity.voucher != null">voucher = #{activity.voucher},discount = null,
            </if>
            <if test="activity.beginTime != null">begin_time = #{activity.beginTime},</if>
            <if test="activity.endTime != null">end_time = #{activity.endTime},</if>
            <if test="activity.remark != null">remark = #{activity.remark},</if>
            <if test="activity.status == 0 and activity.endTime gt now ">`status` = 1,</if>
            update_by = #{user},update_time = #{now}
        </trim>
        WHERE activity_id = #{activity.activityId}
    </update>


    <select id="selectActivityVoList" resultType="com.cyn.tienchin.activity.domain.vo.ActivityVo">
        SELECT ta.*, tc.channel_name
        FROM tienchin_activity ta,
        tienchin_channel tc
        WHERE ta.del_flag = 0
        AND tc.del_flag = 0
        AND ta.channel_id = tc.channel_id
        <if test="activityVo.activityName != null">
            AND ta.activity_name LIKE CONCAT('%',#{activityVo.activityName},'%')
        </if>
        <if test="activityVo.channelId != null">
            AND ta.channel_id = #{activityVo.channelId}
        </if>

        <if test="activityVo.type != null">
            AND ta.type = #{activityVo.type}
        </if>
        <if test="activityVo.status != null">
            AND ta.status = #{activityVo.status}
        </if>
    </select>
</mapper>
